<!DOCTYPE html>
<html lang="en">
<head>
    <div class="main">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li type="button" onclick="window.location='../../../contact/templates/contact/contact.html'"/>
            <a href="#">Contact</a></li>
            <li type="button"
                onclick="window.location='file:///C:/Users/Carl/Desktop/project%20CAI/reservation.html'"/>
            <a href="#">Sign Up</a></li>

        </ul>
    </div>
    </div>

</head>
<header>
    <title>Project</title>

    <link rel="stylesheet" type="text/css" href="../../../login/static/login/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../login/static/login/css/style1.css">
    <link rel="stylesheet" type="text/css" href="../../../login/static/login/css/style2.css">
    <link rel="stylesheet" type="text/css" href="../../../style3.css">

    <style>
        body {
            background-image: url("../../../picture.jpg");
            margin: 0;
            padding: 0;
            background-size: cover;
            background-size: center;
        }
    </style>
</header>
<body>

<div class="reservationbox">
<img src="../../../bulb.png" class="user">
   <h1>Reserve now</h1>
   <form>
      <div class = "reserveupper">
		<div class = "reserveupperleft">
	  <input  type="text"  name="" placeholder=" - Enter First name -"pattern="[A-Z/a-z]+" required >
		</div>
		<div class = "reserveupperright">
	  <input type="text" name="" placeholder=" - Enter Last name -" pattern="[A-Z/a-z]+" required >
		</div>

		<div class = "reservemid">
	  <input type="email" name="" placeholder=" - Enter Email - "required>
	  </div>

	  <div class = "reservelowermid">
	  <input type="text" name="" placeholder=" - Enter Phone Number - "pattern="" required >
	  </div>

          <div class = "reservelowerleft">
	  <input type="text" name="" placeholder=" - Time - "pattern="" required >
	  </div>

          <div class = "reservelowerright">
	  <input type="text" name="" placeholder=" - Gender - "pattern="" required >
	  </div>

          <div class = "reservelowerlowermid">
	  <input type="text" name="" placeholder=" - Select date - "pattern= "" required >
	  </div>


          <div class = "reservelowbox"><center>
		<div class = "reservelowupinside">
	  <input type="submit" name="" value="Submit">
		</div>
		<div class = "reservelowdowninside">
	  <input type="submit" name="" value="Cancel">
	  </div>
	 </div>


</div>

</body>
</html>