.adminbox {
    width: 950px;
    height: 520px;
    background: #2C3E50;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 75px 30px;
    border-radius: 20px;
    font-family: Century Gothic;
}
.user1{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(47% - 51px);

