<!DOCTYPE html>
<html>
<head>


<title>Project</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style2.css' %}">
<style>

body  {
    background-image: url("{% static 'login/image/picture.jpg' %}");
	margin: 0;
	padding: 0;
    background-size: 100%;
	background-attachment: fixed;
}
</style>
<header>

 <div class="main">
 <ul>
  <li type="button"><a href="{% url 'login:index' %}">Home</a></li>
  <li><a href="#">About</a></li>
  <li type="button"><a href="{% url 'contact:contacts' %}">Contact</a></li>
  <li class="active"><a href="#">Sign Up</a></li>
  
  </ul>
  </div>
  </header>
<body>
<div class="registrationbox">
   <form method="post" action="{% url 'login:signing_up' %}">
       {% csrf_token %}
	<div class = "regbox">
	<img src="{% static 'login/image/reg1.png' %}" class="reg">
	<h1>Create an Account</h1>
	<div class = "upper">
        <div class = "upperperleft">
	  <input  type="text"  name="username" placeholder=" - Enter Username -"required >
		</div>
		<div class = "upperleft">
	  <input  type="text"  name="user_first_name" placeholder=" - Enter First name -"pattern="[A-Z/a-z]+" required >
		</div>
		<div class = "upperright">
	  <input type="text" name="user_last_name" placeholder=" - Enter Last name -" pattern="[A-Z/a-z]+" required >
		</div>
		<div class = "midmid">
	  <input type="email" name="email" placeholder=" - Enter Email - "required>
	  </div>
	  <div class = "passinside">
	<input type="password" name="password" placeholder=" - Enter Password - "required >
	</div>
	  <div class = "lowermid">
	   <h1>Phone Number</h1>
	  <input type="text" name="user_number" placeholder=" - Enter Phone Number - ">
	  </div>
	  <div class = "lower">
	  <center><h1>Birthday</h1></center>
          <input name="user_birthday" type="date" placeholder="">
		</div>
		<div class = "low"><br><br><h1> Gender:</h1>
		
		
		
			<div class="lowleft">
			<tr>
			<td><input type="radio" name="user_gender" value="male" required></td>
			<td><input type="radio" name="user_gender" value="female" required> </td>
			</tr>
			</div>
			<div class="lowright">
			<tr>
			<td><h3> Male</h3></td>
			<td><h3>Female</h3></td>
			</tr>
			</div>
	 
				
				</div>
		<div class = "pass">
		
	</div>
	<div class = "lowbox"><center>
		<div class = "lowupinside">
	  <input type="submit" name="submit" value="Submit">
		</div>
		<div class = "lowdowninside">
	  <input type="submit" name="" value="Cancel">
	  </div>
	 </div></center>
	  </div>
	  </div>
	
	  </div>
	  </form>
</div>



  </body>
  </head>
  </html>