<!DOCTYPE html>
<html>
<head>


<title>Project</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style2.css' %}">
<style>

body  {
    background-image: url("{% static 'login/image/picture.jpg' %}");
	margin: 0;
	padding: 0;
    background-size: 100%;
	background-attachment: fixed;
}
</style>
<header>

 <div class="main">
 <ul>
  <li type="button"><a href="{% url 'login:index' %}">Home</a></li>
  <li><a href="#">About</a></li>
  <li type="button"><a href="{% url 'contact:contacts' %}">Contact</a></li>
  <li class="active"><a href="#">Sign Up</a></li>
  
  </ul>
  </div>
  </header>
<body>
<div class="registrationbox">
   <form>
	<div class = "regbox">
	<img src="{% static 'login/image/reg1.png' %}" class="reg">
	<h1>Create an Account</h1>
	<div class = "upper">
        <div class = "upperperleft">
	  <input  type="text"  name="" placeholder=" - Enter Username -"pattern="[A-Z/a-z]+" required >
		</div>
		<div class = "upperleft">
	  <input  type="text"  name="" placeholder=" - Enter First name -"pattern="[A-Z/a-z]+" required >
		</div>
		<div class = "upperright">
	  <input type="text" name="" placeholder=" - Enter Last name -" pattern="[A-Z/a-z]+" required >
		</div>
		<div class = "midmid">
	  <input type="email" name="" placeholder=" - Enter Email - "required>
	  </div>
	  <div class = "passinside">
	<input type="password" name="" placeholder=" - Enter Password - "required >  
	</div>
	  <div class = "lowermid">
	   <h1>Phone Number</h1>
	  <input type="text" name="" placeholder=" - Enter Phone Number - "pattern="[0-9]{11}" required >  
	  </div>
	  <div class = "lower">
	  <center><h1>Birthday</h1></center>
	  <div class = "month">
	  
		<select name="bday" size="1">
			<option selected disabled> -Month-</option>
			<option value="jan">January</option>
				<option value="feb">February</option>
				<option value="mar">March</option>
				<option value="apr">April</option>
				<option value="may">May</option>
				<option value="jun">June</option>
				<option value="jul">July</option>
				<option value="aug">August</option>
				<option value="sep">September</option>
				<option value="oct">October</option>
				<option value="nov">November</option>
				<option value="dec">December</option>
				
		</select>
		</div>
		<div class = "day">
			
				<select name="bday" size="1" >
				<option selected disabled>-Day-</option>
				<option value="jan">1</option> 
				<option value="feb">2</option>
				<option value="mar">3</option> 
				<option value="apr">4</option>
		        <option value="may">5</option>
				<option value="jun">6</option>
			    <option value="jul">7</option>
				<option value="aug">8</option>
                <option value="sep">9</option>
				<option value="oct">10</option>
			    <option value="nov">11</option> 
				<option value="dec">12</option>
				<option value="dec">13</option> 
				<option value="dec">14</option>
				<option value="dec">15</option> 
				<option value="dec">16</option>
				<option value="dec">17</option>
				<option value="dec">18</option>
				<option value="dec">19</option>
				<option value="dec">20</option>
				<option value="dec">21</option>
				<option value="dec">22</option>
				<option value="dec">23</option>
				<option value="dec">24</option>
				<option value="dec">25</option>
				<option value="dec">26</option>
				<option value="dec">27</option>
				<option value="dec">28</option>
				<option value="dec">29</option>
<option value="dec">30</option>
				<option value="dec">31</option>
				</select>
			</div>
			<div class = "year">
			
				<select name="bday" size="1" >
				<option selected disabled>-Year-</option>
				<option value="jan">2018</option>
			<option value="feb">2017</option>
			<option value="mar">2016</option>
			<option value="apr">2015</option>
			<option value="may">2014</option>
			<option value="jun">2013</option>
			<option value="jul">2012</option>
			<option value="aug">2011</option>
			<option value="sep">2010</option>
			<option value="oct">2009</option>
			<option value="nov">2008</option>
			<option value="dec">2007</option>
				</select>
			</div>
		</div>
		<div class = "low"><br><br><h1> Gender:</h1>
		
		
		
			<div class="lowleft">
			<tr>
			<td><input type="radio" name="gender" value="male" required></td>
			<td><input type="radio" name="gender" value="female" required> </td>
			</tr>
			</div>
			<div class="lowright">
			<tr>
			<td><h3> Male</h3></td>
			<td><h3>Female</h3></td>
			</tr>
			</div>
	 
				
				</div>
		<div class = "pass">
		
	</div>
	<div class = "lowbox"><center>
		<div class = "lowupinside">
	  <input type="submit" name="" value="Submit">
		</div>
		<div class = "lowdowninside">
	  <input type="submit" name="" value="Cancel">
	  </div>
	 </div></center>
	  </div>
	  </div>
	
	  </div>
	  </form>
</div>



  </body>
  </head>
  </html>