<!DOCTYPE html>
<html>
<head>

<title>Project</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'login/css/style2.css' %}">

<style>
body  {
    background-image: url("{% static 'login/image/picture.jpg' %}");
	margin: 0;
	padding: 0;
    background-size: cover;
	background-size: center;
}
</style>
<header>
 <div class="main">
 <ul>
  <li class="active"><a href={% url 'login:index' %}>Home</a></li>
     <li><a href="{% url 'login:about' %}">About</a></li>
  <li type="button"><a href="{% url 'contact:contacts' %}">Contact</a></li>
  <li type="button"/><a href="{% url 'login:signup' %}">Sign Up</a></li>
  
  </ul>
  </div>
  </div>
  </header>

<body>
<div class="home">
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="{% static 'login/image/images.jpg' %}" style="width:900px; height:500px;">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{% static 'login/image/images2.jpg' %}" style="width:900px; height:500px;">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{% static 'login/image/images3.jpg' %}" style="width:900px; height:500px" ;>
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>





<div class="loginbox">
<img src="{% static 'login/image/user1.png' %}" class="user">
   <h1>Log In</h1>
   <form method="post" action="{% url 'login:logging_in' %}">
       {% csrf_token %}
      <p>Username</p>
	  <input type="text" name="username" required >
	  <p>Password</p>
	  <input type="password" name="password" required >
      <input type="submit" value="Login">
	  </p>
   </form>

</div>

  </body>
  <script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

  </head>
  </html>