<!DOCTYPE html>
<html lang="en">
<header>
    <title>Project</title>
        {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/../../../reservation/templates/calendar/static/css/style.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/../../../reservation/templates/calendar/static/css/style1.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/../../../reservation/templates/calendar/static/css/style2.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/../../../reservation/templates/calendar/static/css/style3.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/../../../reservation/templates/calendar/static/css/style4.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'admin/css/../../../reservation/templates/calendar/static/css/fullcalendar.css' %}">
     <script src="{% static 'admin/js/../../../reservation/templates/calendar/static/js/jquery.min.js' %}"></script>
     <script src="{% static 'admin/js/../../../reservation/templates/calendar/static/js/moment.min.js' %}"></script>
     <script src="{% static 'admin/js/../../../reservation/templates/calendar/static/js/fullcalendar.js' %}"></script>
     <script src="{% static 'admin/js/../../../reservation/templates/calendar/static/js/script.js' %}"></script>
    <style>
        body {
            background-image: url("{% static 'admin/image/../../../reservation/templates/calendar/static/image/picture.jpg' %}");
            margin: 0;
            padding: 0;
            background-size: cover;
            background-size: center;
        }
    </style>
</header>
<body>
    <div id="calendar">Hello</div>
</body>
</html>