<!DOCTYPE html>
<html>
<head>

<title>Project</title>
 {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/style1.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/style2.css' %}">

<style>

body  {
    background-image: url("{% static 'contact/image/picture.jpg' %}");
	margin: 0;
	padding: 0;
    background-size: cover;
	background-size: center;
}
</style>
<header>
 <div class="main">
 <ul>
  <li type="button"><a href="{% url 'login:index' %}">Home</a></li>
  <li><a href="#">About</a></li>
  <li class="active"><a href="#">Contact</a></li>
  <li type="button"><a href="{% url 'login:signup' %}">Sign Up</a></li>
  
  </ul>
  </div>
  </header>
  
 
<body>

<form action="{% url 'contact:send_message' %}" method="post">
    {% csrf_token %}
<div class = "container">
<img src="{% static 'contact/image/contact.png' %}" class="con">
<h1>Contact Us</h1>
<br>
<h6>Unit 704 Emerald Square Tower P. Tuazon corner JP Rizal Sts. Project 4, Quezon City
09178911941/09179297883</h6>
<div class = "top">
<input name="name" type="text" placeholder=" -Name- " />
</div>
<div class = "mid">
<input name="email" type="text" placeholder=" -Email- " />
</div>

<textarea name="message" placeholder="Enter text here...">
</textarea>

<button type="submit">Submit</button>
</div>
</form>
  </body>
  </head>
  </html>