<!DOCTYPE html>
<html lang="en">
<head>
    <div class="main">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li type="button" onclick="window.location='../../../contact/templates/contact/contact.html'"/>
            <a href="#">Contact</a></li>
            <li type="button"
                onclick="window.location='../../../reservation/templates/reservation/reservation.html'"/>
            <a href="#">Sign Up</a></li>

        </ul>
    </div>
    </div>

</head>
<header>
    <title>Project</title>

    <link rel="stylesheet" type="text/css" href="../../../style.css">
    <link rel="stylesheet" type="text/css" href="../../../style1.css">
    <link rel="stylesheet" type="text/css" href="../../../style2.css">
    <link rel="stylesheet" type="text/css" href="../../../style3.css">
    <link rel="stylesheet" type="text/css" href="../../../style4.css">

    <style>
        body {
            background-image: url("../../../picture.jpg");
            margin: 0;
            padding: 0;
            background-size: cover;
            background-size: center;
        }
    </style>
</header>
<body>






</body>
</html>